* {
  padding: 0;
  margin: 0ch;
}
.nav-right {
  padding: 0px;
  margin: 0px;
  width: 48%;
  height: 75px;

  float: right;
  color: "red";
}
.nav-right1 {
  margin: 20px;
}

.nav-left {
  display: flex;
}
